body {
   background-attachment: scroll;
   background-image: url("bg.png");
}   
#elem {
   width: 400px;
   height: 400px;
   margin: 0 auto;
   text-align: justify;
   font-weight: bold;
   font-size: 20px;
}
